body {
    margin: 0;
}

main {
    padding: 35px 100px;
}

header {
    width: 100%;
    height: 7vh;
    background-color: mediumseagreen;
    display: grid;
    justify-content: end;
    align-items: center;
}

.cart-button {
    padding: 5px 8px;
    background-color: white;
    margin-right: 100px;
}

.goods-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 1em;
}

.goods-item {
    box-sizing: content-box;
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
}

.good-pic {
    height: 20vh;
    background-color: black;
}

.good-button {
    padding: 3px;
    border: 1px solid #000;
    align-self: center
}

.divPriceButton {
    display: flex;
    justify-content: space-between;
}